<div class="footer">
  <div class="icons">
    <i class="fas fa-bicycle"></i> <i class="fas fa-bicycle"></i> <i class="fas fa-bicycle"></i>
  </div>
  <div class="dernier-mot">
    Coming soon ! <strong>RayoTrips</strong> vous promet des voyages d'exception à bicyclette !
  </div>
</div>
